<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <a href="/">Inicio</a>


    <h1>Autor de la práctica 5 de CORE</h1>

    <p>Laura Sepúlveda López</p>


</body>
</html>